.toolbar-root {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 2rem;
    margin-right: 2rem;
}

.menu-icon {
    margin-left: 2rem;
}